<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="position: fixed; right: 5px">
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_email"></a>
<a class="a2a_dd" href="https://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fpeter.grman.at&amp;linkname=Blog42"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.track_links = 'ga';
a2a_config.num_services = 6;
a2a_config.color_main = "D7E5ED";
a2a_config.color_border = "AECADB";
a2a_config.color_link_text = "333333";
a2a_config.color_link_text_hover = "333333";

a2a_config.templates = {
    twitter: "${title} ${link} by @grmanp"
};
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js" async="true"></script>
<!-- AddToAny END -->